#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#app,
html {
  height: 100%;
}
html {
  font-size: calc(var(--font-size) * 430 / 390);
}

:root {
  --img-blur: 0px;
  --text-color: #544f4f;
  --text-dark-color: #2b2222;
  --text-light-color: #797979;
  --title-text-color: #111;
  --subtitle-text-color: #111;
  --icon-color: #858585;
  --border-size: 1px;
  --border-color: #ddd;
  --border-light-color: #ebebeb;
  --border-dark-color: #ebebeb;
  --wave-color: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f9f9f9;
  --third-bg-color: #f9f9f9;
  --fourth-bg-color: #fff;
  --footer-bg-color: #f6f6f6;
  --margin-bg-color: #333;
  --btn-bg-color: rgba(0, 0, 0, 0);
  --btn-text-color: #404040;
  --btn-border-color: #878787;
  --btn-dark-bg-color: #f9f9f9;
  --btn-dark-text-color: #111;
  --btn-dark-border-color: #eaeaea;
  --font-size: 14px;
  --common-margin-lr: 2rem;
  --calendar-margin-lr: 3rem;
  --font-regular: Nanum Myeongjo;
  --font-regular-spacing: 0;
  --font-gothic: Pretendard Variable;
  --font-gothic-spacing: -0.2px;
  --font-bold: Nanum Myeongjo;
  --font-bold-weight: bold;
}

@media (max-width: 450px) {
  html {
    font-size: calc(var(--font-size) * 450 / 390);
  }
}
@media (max-width: 440px) {
  html {
    font-size: calc(var(--font-size) * 440 / 390);
  }
}
@media (max-width: 430px) {
  html {
    font-size: calc(var(--font-size) * 430 / 390);
  }
}
@media (max-width: 420px) {
  html {
    font-size: calc(var(--font-size) * 420 / 390);
  }
}
@media (max-width: 410px) {
  html {
    font-size: calc(var(--font-size) * 410 / 390);
  }
}
@media (max-width: 400px) {
  html {
    font-size: calc(var(--font-size) * 400 / 390);
  }
}
@media (max-width: 390px) {
  html {
    font-size: calc(var(--font-size) * 390 / 390);
  }
}
@media (max-width: 380px) {
  html {
    font-size: calc(var(--font-size) * 380 / 390);
  }
}
@media (max-width: 370px) {
  html {
    font-size: calc(var(--font-size) * 370 / 390);
  }
}
@media (max-width: 360px) {
  html {
    font-size: calc(var(--font-size) * 360 / 390);
  }
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--margin-bg-color);
}
body.modal-open {
  overflow: hidden;
}
h1,
h2 {
  font-weight: 400;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: var(--text-color);
}
br {
  font-family: initial;
}
img {
  -webkit-touch-callout: none;
}

.fade-in {
  transition: all 0.8s ease-out;
  box-sizing: border-box;
}

.mcard-view {
  position: relative;
  width: 100%;
  max-width: 430px;
  padding: 0;
  margin: auto;
  color: var(--text-color);
  background: var(--primary-bg-color);
  background-image: var(--primary-bg-image);
  -ms-overflow-style: none;
  line-height: 2rem;
  font-family: var(--font-regular), serif;
  letter-spacing: var(--font-regular-spacing);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04);
}
.mcard-view::-webkit-scrollbar {
  display: none;
}
.m-title {
  color: var(--title-text-color);
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.m-subtitle {
  font-size: 0.7rem;
  color: var(--subtitle-text-color);
  font-family: Crimson Pro, serif;
  letter-spacing: 3px;
  line-height: 20px;
}
.m-button {
  display: inline-block;
  text-decoration: none;
  height: 2rem;
  line-height: 2rem;
  background: #fff;
  padding: 0 26px;
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 32px;
  font-size: 0.86rem;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0 !important;
}
.m-button img,
.m-button svg {
  margin: -1px 2px 0;
  height: 0.86rem;
  width: 0.86rem;
  vertical-align: middle;
}
.m-button.dark {
  border: 1px solid var(--btn-dark-border-color);
  background: var(--btn-dark-bg-color);
  color: var(--btn-dark-text-color);
}
.m-button.shadow {
  box-shadow: 1px 1px 2px rgb(0 0 0/5%);
}
.c-bold {
  font-family: var(--font-bold);
  font-weight: var(--font-bold-weight);
}
button {
  font-family: var(--font-gothic);
}
.img-blur {
  filter: blur(var(--img-blur));
  -webkit-filter: blur(var(--img-blur));
}
@media (max-width: 340px) {
  :root {
    --common-margin-lr: 1rem !important;
  }
}
