/* gallery Section - styled to match sample photo */
.gallery-section {
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 auto 0 auto;
  max-width: 540px;
  text-align: center;
  font-family: "KoPub Batang", "serif";
}

.gallery-section .gallery-hr {
  border: none;
  border-top: 2px solid #888;
  margin: 0 0 2.5rem 0;
  width: 95%;
}

.gallery-section .sec-tit {
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  letter-spacing: 0.45em;
  margin-bottom: 2.8rem;
  margin-top: 0.8rem;
}

.gallery-section .sec-txt {
  font-size: 1.27rem;
  color: #222;
  margin-bottom: 1rem;
  line-height: 0.2;
  word-break: keep-all;
  white-space: pre-line;
  font-family: "KoPub Batang", "serif";
}
